@font-face {
    font-family: "Museo Sans Cyrl 500";
    src: url("../fonts/OFONTRUMUSEOSANSCYRL500.TTF");
}
@font-face {
    font-family: "Museo Sans Cyrl 500 Italic";
    src: url("../fonts/MUSEOSANSCYRL500ITALIC.TTF");
}
@font-face {
    font-family: "Museo Sans Cyrl 300";
    src: url("../fonts/MUSEOSANSCYRL-300.OTF");
}
@font-face {
    font-family: "Museo Sans Cyrl 700";
    src: url("../fonts/MUSEOSANSCYRL-700.TTF");
}
* {
    flex-shrink: 0;
}


.wrapper {
    position: relative;
}

/*----------ONE BLOCK-----------*/

.img_logo{
    width: 300px;
    height: 300px;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
}
.header_left_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.header_bottom_bg {
    position: absolute;
    right: 0;
    bottom: -25px;
    z-index: -1;
    width: 100%;
}
.header_bottom_bg img {
    width: 100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1030px;
}
.header_top {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 27px;
    justify-content: space-between;
    font-weight: bold;
}
.header_top nav a {
    padding-right: 13px;
    padding-left: 13px;
    border-right: 2px solid #db2a1b;
    color: #000000;
    font-size: 14px;
    font-family: "Museo Sans Cyrl 500", "sans-serif";
    position: relative;
    
}

@keyframes hover-top {
    0%   { width: 0; }
    50% { width: 50%; }
    100% { width: 100%; }
}

.header_top nav a:hover{
    color: #ffffff;
}
.header_top nav a:hover:before{
    content: "";
    position: absolute;
    background: #db2a1b;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: hover-top 0.3s;
    z-index: -1;
}

.header_top nav a:last-child {
    border-right: none;
}

.header_phone {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    font-weight: bold;
    color: #323232;
}

.header_phone a {
    color: #000000;
    font-family: "Museo Sans Cyrl 700", "sans-serif";
    font-size: 12px;
}

.header_title {
    /* display: flex; */
    padding-top: 60px;
}



.header_title-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

.header_title-right {
    display: flex;
    flex-basis: 50%;
}

.header_title-right img {
    width: 70%;
}

.header_title-right p {
    color: #000000;
    font-family: "Museo Sans Cyrl 500 Italic", "sans-serif";
    font-size: 11px;
    max-width: 100px;
}

.header_title-left h2 {
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: 80px;
    margin-bottom: 5px;
}

.header_title-left p {
    color: #4A4A4A;
    font-family: "Museo Sans Cyrl 500", "sans-serif";
    font-size: 17px;
}
